{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="MrT">

    <title>
        {% block title %}
            JustTrack
        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/application.css' %}" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//raw.github.com/HPNeo/gmaps/master/gmaps.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/js/html5shiv.js' %}"></script>
      <script src="{% static 'bootstrap/js/respond.min.js' %}"></script>


    <![endif]-->
    {% block extrahead %}
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            {% for item in nav %}
                <li><a href="{% url item.value %}">{{ item.key }}</a></li>
            {% endfor %}
        </ul>
        <h3 class="text-muted">JustTrack</h3>
    </div>
    {% block content %}

        {% block nav %}

        {% endblock nav %}

        {% block body %}
            Empty body
        {% endblock body %}

        {% block footer %}
            Empty footer
        {% endblock footer %}


    {% endblock %}

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
